body,.inputs,button {
  font-family: "Helvetica Neue",
  "游ゴシック Medium",
  Arial,
  "Hiragino Kaku Gothic ProN",
  "Hiragino Sans",
  Meiryo,
  sans-serif;
  margin:0 5%;
  padding:0;
  font-size: 1.1rem;
}

.title {
  font-size: 1.5rem;
  padding-bottom: 0rem;
  color: #00008B;
  border-bottom: 0.2rem solid #00008B;
}

a{text-decoration:none;}            /* リンクの下線は無し */
a.no-color-change{color:white;}   /* リンク状態で色を変えない */

.item,.list{  
  overflow: hidden;
}

.inputs,textarea{
  float: left;
  width: 50%;
  border: solid 0.12rem #00008B;
  padding: 0.3rem;
  border-radius: 0.4rem;
  margin: 0.3rem 0.3rem;
}

.btn-area,.p-nav { 
  text-align: center; 
  align-items: center;
}

.p-nav{
  display: flex;
  flex-direction: column;
}
.index-nav{
  display: flex;
  height: 100%;
  justify-content: flex-start;
  flex-wrap:wrap;
}

.pg-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2.5% 0;
  width: 80%;
}
.form-tool {
  color: #00008B; 
  width: 85%;
  margin:0 auto;
}

.form-tool label{
  float: left;
  width: 8rem;
}
.form-tool label, textarea { margin-bottom: 0.7rem; }
textarea{  height: 5rem;}     /* メモの高さ */

.form-tool .inputs{
  width: 50%;
  border:solid 0.1rem #00008B;
  border-radius: 0.3rem;
}

.form-tool .inputs:hover { background-color: #AFEEEE; }

input[type="submit"],input[type="reset"],.btn-nav,input[type="button"],button{
  font-size: 1rem;
  color: #00008B;
  background-color: white;
  border:solid 0.1rem #00008B;
  border-radius: 0.3rem;
  text-align: center;
  padding: 0.3rem 0.3rem;
  box-shadow:0.1rem 0.1rem 0.2rem #191970;
  width: 7rem;
}
input[type="submit"]:hover,[type="reset"]:hover,.btn-nav:hover,button:hover {
  background-color: #00008B;
  color: white;
  box-shadow: none;
}
input[type="radio"]{
  color: red;
}
button {
  text-align: center;
}
p.radiobutton {position: relative; top: 0; }

#qrcode-button button{
  margin-top: 1rem;
  width: 10rem;
}
